* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik;
}
html {
    scroll-behavior: smooth;
  }
body {
    background-color: #181818;
}
header {
    height: 100vh;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
}
nav {
    max-width: 1024px;
    width: 100%;
    margin: 30px auto;
    padding: 10px 20px;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.089);
    border: 2px solid #fff;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; 
    top: 20px;
    z-index: 20;
}
.logo img {
    margin: 0 auto;
    width: 120px;
    height: 50px;
}
ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 220px;
}
li a {
    text-transform: uppercase;
    color: #cccccc;
    text-decoration: none;
    font-size: 20px;
}
li a:hover {
    cursor: pointer;
    color: #fff; 
    transition: transform 0.3s, color 0.3s;
}
.hero .content {
    height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.hero .content h1 {
    color: #fff;
    font-size: 5vw;
    text-align: center;
}
.btn {
    margin-top: 50px;

}
.btn a {
    position: relative;
    z-index: 90;
    padding: 10px 20px;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    text-decoration: none;
    border-radius: 50px;
}
.circle-gradient img{
    z-index: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 490px;
    left: 50%; 
    transform: translateX(-50%);
}
#work {
    height: 100%;
}
.content-work h1 {
    font-size: 80px;
}
.content-explore h1 {
    color: #fff;
    text-align: center;
    font-size: 96px;
}
.work-content {
    margin: 50px auto;

}
.cards {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}
.card {
    flex: 0 0 33.33%; 
    padding: 10px;
    box-sizing: border-box; 
}
.zoom-image {
    width: 100%; 
    transition: transform 0.3s;
}
.card:hover .zoom-image {
    transform: scale(1.1); 
}
.card img {
    width: 100%; 
    height: auto; 
}
#contact {
    height: 10vh;
}
.touch {
    padding-bottom: 20px;
    text-align: center;
    color: #fff;
}
.flex-contact a {
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
    padding: 30px 10px;
}
@media (max-width: 768px) {
    .card {
        flex: 0 0 50%; 
    }
}
@media (max-width: 480px) {
    .human img {
        width: 100%;
        height: 490px;
        
    }
    .circle-gradient img{
        z-index: 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 490px;
        left: 50%; 
        transform: translateX(-50%);
    }
    nav {
        
        width: 45%;
        left: 25%; 
        transform: translateX(-25%);
    }

    .logo img {
        margin: 0 auto;
    }
    .content-explore h1 {
        font-size: 8vw;
    }
    ul li a {
        display: none;
    }
    .card {
        flex: 0 0 100%; 
    }

}

